{% extends 'viewbase.html' %}

{%block title%} Consulta {% endblock %}

{%block content%}
        <h1>CONSULTA</h1>
        <br>
        <h2><a href="javascript:history.back()"><button class="button2" type="button">AVANÇAR</button></a></h2>
        <table>
            <tr><td>Horários livres em:
                <script>
                    var data = "{{date}}";
                    for(i=0; i< data.length; i++);{
                        let data_americana = data ;
                        let data_brasileira = data_americana.split('-').reverse().join('/');
                        console.log(data_brasileira);
                        data_correta = data_brasileira
                    }
                        document.write(data_correta);
                </script>.
            </td></tr>
            <tr><td>
                <script>
                    function horarioLivreM(escala, horario) {
                        for(i=0; i < escala.length; i++) {
                            const livres = escala.filter(livres => !horario.includes(livres));
                            console.log(livres);
                            horario_livre = livres.join(' &#8226 ');
                            contador = livres.length
                        }
                    }
                    var escala = ['8:00', '8:40', '9:20', '10:00', '10:40', '11:20'];
                    var horario = "{{horas}}";
                    horarioLivreM(escala, horario)              
                    document.write("Manhã: " + "0" + contador + " " + "horario(s) livre(s)" + " &#10145 " + horario_livre + " &#8226 ");
                </script>
            </td></tr>
            <tr><td>
                <script>
                    function horarioLivreT(escala, horario) {
                        for(i=0; i < escala.length; i++) {
                            const livres = escala.filter(livres => !horario.includes(livres));
                            console.log(livres);
                            horario_livre = livres.join(' &#8226 ');
                            contador = livres.length
                        }
                    }
                    var escala = ['13:00', '13:40', '14:20', '15:00', '15:40', '16:20', '17:00', '17:40', '18:20'];
                    var horario = "{{horas}}";
                    horarioLivreT(escala, horario)              
                    document.write("Tarde: " + "0" + contador + " " + "horario(s) livre(s)" + " &#10145 " + horario_livre + " &#8226 ");
                </script>
            </td></tr>
        <table>
        <br>
        <table>
            <tr><td>Atencão: Anote um horário livre e clique em "AVANÇAR".</td></tr>
            <tr><td>Na ausência de horarios livres, prossiga e escolha outra data.</td></tr>
        </table>
    {% if current_user.is_authenticated %}
        <br>
        <h2 class="consulta">Reservas</h2>
        <table>
            <tr>
                <td>Data</td>
                <td>Horário</td>
                <td>Serviço</td>
            </tr>
            {% for cadastrado in resultados %}
            <tr>
                <td>
                    <script>
                        var data = "{{cadastrado.data}}";
                        for(i=0; i< data.length; i++);{
                            let data_americana = data ;
                            let data_brasileira = data_americana.split('-').reverse().join('/');
                            console.log(data_brasileira);
                            data_correta = data_brasileira
                        }
                            document.write(data_correta);
                    </script>
                </td>
                <td>{{ cadastrado.horario }}</td>
                <td>{{ cadastrado.servico }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}        
{% endblock %}