{% if current_user.is_authenticated %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Painel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
  <br>
    <br>
    <div id="registro-container">
       <h1 class="login">Painel</h1>
        <a href="{{ url_for('index') }}"><input class="login" type="submit" value="Cadastrar"></a> 
        <a href="{{ url_for('cadastro') }}"><input class="login" type="submit" value="Cadastro"></a>
        <a href="{{ url_for('agenda') }}"><input class="login" type="submit" value="Agenda"></a>
        <a href="{{ url_for('registro') }}"><input class="login" type="submit" value="Registro"></a>
       <a href="{{ url_for('logout') }}"><input class="login" type="submit" value="Logout"></a>
    </div>
<body>       
  <footer>
    <p>Projeto Integrador I - <a href="meuemail@example.com">meuemail@example.com</a></p>
</footer>
</html>
{% else %}

<script>
  window.location.href = "{{ url_for('login') }}"
</script>

{% endif %}