{% if current_user.is_authenticated %}

{% extends 'viewbase.html' %}

{%block title%} Agenda {% endblock %}

{%block content%}
<h1>AGENDA</h1>
<br>
<h2>
    <a href="{{ url_for('painel') }}"><button class="button2" type="button">PAINEL</button></a>
    <a href="{{ url_for('cadastro') }}"><button class="button2" type="button">CADASTRO</button></a>
    <a href="{{ url_for('logout') }}"><button class="button2" type="button">LOGOUT</button></a>
</h2>
    <table>
        <tr>
            <td>Data</td>
            <td>Horário</td>
            <td>Cliente</td>
            <td>Contato</td>
            <td>Servico</td>
            <td>Excluir</td>
            <td>Editar</td>
        </tr>
        {% for cadastrado in resultados%}
        <tr>
            <td>
                <script>
                    var data = "{{cadastrado.data}}";
                    for(i=0; i< data.length; i++);{
                        let data_americana = data ;
                        let data_brasileira = data_americana.split('-').reverse().join('/');
                        console.log(data_brasileira);
                        data_correta = data_brasileira
                    }
                        document.write(data_correta);
                    </script>
            </td>
            <td>{{ cadastrado.horario }}</td>
            <td>{{ cadastrado.cliente }}</td>
            <td>{{ cadastrado.contato }}</td>
            <td>{{ cadastrado.servico }}</td>
            <td><a href='/excluir_agenda/{{ cadastrado._id }}'>&#9940</a></td>
            <td><a href='/editar_agenda/{{ cadastrado._id }}'>&#9210</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% else %}

<script>
    window.location.href = "{{ url_for('login') }}"
</script>

{% endif %}

