{% if current_user.is_authenticated %}

{% extends 'viewbase.html' %}

{%block title%} Alerta {% endblock %}

{%block content%}
        <h1>&#8986 AVISO!</h1>
        <label class="alerta">DATA OU HORÁRIO INDISPONÍVEL</label>
        <br>
        <form action= "" method="POST">
            
            <div><p>Informe o nome completo ... <input type="text" name="cliente" value="{{cadastrado.cliente}}" required></p></div>  

            <div><p>Informe seu melhor e-mail .. <input type="email" name="email" value="{{cadastrado.email}}" required></p></div>

            <div><p>Informe o (DDD+telefone) ... <input type="tel" name="contato" value="{{cadastrado.contato}}" required></p></div>
            
            <div><p>Informe a data ..................&#10067 <input type="date" name="data" value="{{cadastrado.data}}" required></p></div>

            <div><p>Informe um horário ...........&#10067 <select type= "time" name="horario" required>
                <option value="{{cadastrado.horario}}">{{cadastrado.horario}}Troque data ou horário</option>
                <option value="08:00">08:00</option>
                <option value="08:40">08:40</option>
                <option value="09:20">09:20</option>
                <option value="10:00">10:00</option>
                <option value="10:40">10:40</option>
                <option value="11:20">11:20</option>
                <option value="13:00">13:00</option>
                <option value="13:40">13:40</option>
                <option value="14:20">14:20</option>
                <option value="15:00">15:00</option>
                <option value="15:40">15:40</option>
                <option value="16:20">16:20</option>
                <option value="17:00">17:00</option>
                <option value="17:40">17:40</option>
                <option value="18:20">18:20</option></select></p>
            </div>
            <div><p>Informe um serviço .............. <select type= "text" name="servico"  required>
                <option type= "text" value="{{cadastrado.servico}}">{{cadastrado.servico}}</option>
                <option type= "text" value="Alteração Cadastral">Alteração Cadastral</option>
                <option type= "text" value="Corte de Cabelo">Corte de Cabelo</option>
                <option type= "text" value="Corte de Barba">Corte de Barba</option>
                <option type= "text" value="Cabelo e Barba">Cabelo & Barba</option>
                <option type= "text" value="Corte Infantil">Corte Infantil</option>
                <option type= "text" value="Reflexo ou Luzes">Reflexo ou Luzes</option></select>
            </p></div>
            <h3>
                <a href="{{ url_for('consulta') }}"><button class="button2" type="button">CONSULTAR</button>
                </a><button class="button2" type="submit">SALVAR</button>
            </h3>
        </form>
{% endblock %}

{% else %}
<script>
    window.location.href = "{{ url_for('login') }}"
</script>
{% endif %}